<div class="Hmmmm">
    {{#foreach navigation}}
        <div class="profileLink">
            <a title="{{label}}" href="{{url absolute="true"}}">
            <i class="{{navIcon url}} ms-fontSize-xxl"></i> {{label}}
            </a>
        </div>
    {{/foreach}}
</div>