<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    {{>"head"}}
    {{ghost_head}}
</head>

<body class="ms-Fabric">
    <div class="pageContainer">
      {{{body}}}
    </div>
    {{ghost_foot}}
</body>
</html>