
.icon-book:before { content: '\e800'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */