
.pageContainer {
    /*min-height:5000px;*/
    background-color: rgb(255, 255, 255);
	margin-bottom: 50px;
}
.profileCoreInfo-title {
	margin: 5px 0;
	text-align: center;
}
.profilePane-container {
	max-width: 1400px;
    padding-top: 100px;
}

.blogPane-container {
    max-width: 1400px;
    padding-top: 100px;
}

.blogPostPane-container {
    max-width: 1400px;
}

.blogPostMainImage {
	height: 400px;
	overflow:hidden;
}

.headerImage {
object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
}

.previousPostIcon {
	position: relative;
	top: 300px;
	left: 100px;
	float:left;
	font-weight: bold;
}

.nextPostIcon {
	position: relative;
	top: 300px;
	right: 100px;
	float:right;
	font-weight: bold;
}

.blogContent {
	padding-top:30px;
}

.postTitle {
	padding: 10px;
}

.postShare {
	margin: 20pz;
}

.profileLink a {
	color:#000000;
	text-decoration: none;
}
.profileLink a:visited {
	color:#000000;
	text-decoration: none;
}
.profileLink a:hover {
	color:#000000;
	text-decoration: none;
}
.profileLink a:active {
	color:#000000;
	text-decoration: none;
}

.postBlogTitleRow {
	height: 250px;
}

.postNavigation {
	line-height:250px;
	vertical-align:bottom;
}

.postBlogLogoRow {
    height:150px;
}

.postBlogLogo {
    left: 50px;
    top: 120px;
    position: absolute;
	width: 110px;
	height: 100px;
	background: #eaeaea;
	border: 3px solid #fff;
	border-radius: 50%;
	text-align: center;
	margin: -90px auto 0;
}

.BaseProfileCoreInfo-module_panel {
	position: relative;
	min-height: 140px;
}
html[dir=ltr] .BaseProfileCoreInfo-module_panel, html[dir=rtl] .BaseProfileCoreInfo-module_panel {
	background-color: hsla(0, 0%, 100%, 0.98);
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
	padding: 20px 30px;
	margin: 10px 0;
}
.fabric-module_ms-Grid-col {
	position: relative;
	min-height: 1px;
	box-sizing: border-box;
}

html[dir=ltr] .BaseProfilePane-module_container, html[dir=rtl] .BaseProfilePane-module_container {
	margin: 0 auto;
	padding-top: 100px;
}
.pulseContentPanelContainer {
	position: absolute;
	top: 50px;
	bottom: 0px;
	overflow-x: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
html[dir=ltr] .pulseContentPanelContainer {
	background: #eaeaea;
	padding-left: 20px;
	right: 0px;
	left: 240px;
}
/* @media all and (min-width:1024px) */
html[dir=ltr] .pulseContentPanelContainer {
	padding-left: 30px;
}
html[dir=ltr] #pulseRoot, html[dir=rtl] #pulseRoot {
	background: #eaeaea;
}
body, html {
	height: 100%;
}
html[dir=ltr] body, html[dir=rtl] body {
	padding: 0;
	margin: 0;
}
.BaseProfileCoreInfo-module_imageWrapper {
	position: relative;
	width: 110px;
	height: 110px;
	line-height: 110px;
	opacity: 1;
}
.BaseProfileCoreInfo-module_imageWrapper::before {
	position: absolute;
	color: #666;
	font-family: O365icons-webfont-osl;
	font-size: 300%;
	top: 0px;
	width: 100%;
}

html[dir=ltr] .BaseProfileCoreInfo-module_imageWrapper::before {
	left: 0px;
}
.BaseProfileCoreInfo-module_subTitle {
	color: #666;
}
html[dir=ltr] .BaseProfileCoreInfo-module_subTitle, html[dir=rtl] .BaseProfileCoreInfo-module_subTitle {
	text-align: center;
	margin: 0;
}
.BaseProfileCoreInfo-module_oneDriveContainer {
	color: #005a9e;
	cursor: pointer;
}
html[dir=ltr] .BaseProfileCoreInfo-module_oneDriveContainer, html[dir=rtl] .BaseProfileCoreInfo-module_oneDriveContainer {
	text-align: center;
	padding: 7px 0;
}
html[dir=ltr] .BaseProfileButton-module_buttonWrapper, html[dir=rtl] .BaseProfileButton-module_buttonWrapper {
	margin: 20px auto 10px;
	text-align: center;
}
html[dir=ltr] .MinimalAboutMeInfo-module_title, html[dir=rtl] .MinimalAboutMeInfo-module_title {
	margin: 0 0 10px;
}
html[dir=ltr] .MinimalAboutMeInfo-module_aboutMeSection, html[dir=rtl] .MinimalAboutMeInfo-module_aboutMeSection {
	margin-bottom: 10px;
}
.MinimalAboutMeInfo-module_propertyInfo {
	height: 40px;
	position: relative;
	cursor: pointer !important;
	display: table;
	width: 100%;
	transition: background-color .1s;
}
html[dir=ltr] .MinimalAboutMeInfo-module_propertyInfo, html[dir=rtl] .MinimalAboutMeInfo-module_propertyInfo {
	padding-top: 5px;
	padding-bottom: 5px;
	background: transparent;
}
html[dir=ltr] .MinimalAboutMeInfo-module_buttonWrapper, html[dir=rtl] .MinimalAboutMeInfo-module_buttonWrapper {
	margin-top: 20px;
	text-align: center;
}
.MinimalAboutMeInfo-module_viewProfileButton {
	color: #333;
	cursor: pointer;
	display: inline-block;
	line-height: 28px;
	transition-property: color, background;
	transition-duration: 0.1s;
}
html[dir=ltr] .MinimalAboutMeInfo-module_viewProfileButton, html[dir=rtl] .MinimalAboutMeInfo-module_viewProfileButton {
	border-radius: 20px;
	background-color: #eaeaea;
	border: 2px solid #eaeaea;
	padding: 0 20px;
}
.MinimalAboutMeInfo-module_chevron {
	width: 10px;
	font-size: 21px;
	position: relative;
	top: 2px;
}
.fabric-module_ms-Icon--chevronRight::before {
	content: "\E08A";
}
html[dir=ltr] .MinimalAboutMeInfo-module_chevron {
	padding-left: 5px;
}
.MinimalAboutMeInfo-module_iconWrapper {
	width: 40px;
	height: 40px;
	position: absolute;
}
html[dir=ltr] .MinimalAboutMeInfo-module_iconWrapper, html[dir=rtl] .MinimalAboutMeInfo-module_iconWrapper {
	border-radius: 50%;
	background-color: #106ebe;
	text-align: center;
}
.MinimalAboutMeInfo-module_dataContainer {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
html[dir=ltr] .MinimalAboutMeInfo-module_dataContainer {
	padding-left: 50px;
}
.MinimalAboutMeInfo-module_link {
	word-break: break-word;
	color: #005a9e;
	cursor: pointer;
	text-decoration: none;
}
html[dir=ltr] .MinimalAboutMeInfo-module_link {
	background: none;
	border: none;
	padding-left: 0px;
}
.MinimalAboutMeInfo-module_icon {
	color: #fff;
	font-size: 21px;
	position: relative;
	top: 50%;
}
.fabric-module_ms-Icon--ribbon::before {
	content: "\E0AF";
}
.fabric-module_ms-Icon--lightBulb::before {
	content: "\E221";
}
.fabric-module_ms-Icon--notebook::before {
	content: "\E08E";
}
html[dir=ltr] .MinimalAboutMeInfo-module_icon, html[dir=rtl] .MinimalAboutMeInfo-module_icon {
	transform: translateY(-50%);
}
.fabric-module_ms-Icon--lightBulb::before {
	content: "\E221";
}
html[dir=ltr] .CalendarAvailabilityInfo-module_title, html[dir=rtl] .CalendarAvailabilityInfo-module_title {
	margin: 0 0 15px;
}
.CalendarAvailabilityInfo-module_container {
	position: relative;
	overflow: hidden;
}
html[dir=ltr] .CalendarAvailabilityInfo-module_container, html[dir=rtl] .CalendarAvailabilityInfo-module_container {
	margin-bottom: 20px;
}
html[dir=ltr] :first-child.CalendarAvailabilityInfo-module_hourContainer {
	border-left: 1px solid #e5e5e5;
}
.CalendarAvailabilityInfo-module_hourSection {
	display: inline-block;
	position: relative;
	height: 60px;
	width: 10%;
	box-sizing: border-box;
}
html[dir=ltr] .CalendarAvailabilityInfo-module_hourSection {
	border-right: 2px solid #e5e5e5;
	border-top: 2px solid #e5e5e5;
}
.CalendarAvailabilityInfo-module_nowSection {
	height: 99%;
	position: absolute;
	top: 1px;
	width: 3px;
	z-index: 5;
}
html[dir=ltr] .CalendarAvailabilityInfo-module_nowSection, html[dir=rtl] .CalendarAvailabilityInfo-module_nowSection {
	background-color: #2b88d8;
}
.fabric-module_ms-font-s-plus, .fabric-module_ms-font-s {
	color: #333;
	font-family: Segoe UI Web Regular,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;
	font-weight: 400;
}
.fabric-module_ms-font-s {
	font-size: 12px;
}
.fabric-module_ms-font-weight-semibold {
	font-family: Segoe UI Web Semibold,Segoe UI Semibold,Segoe WP Semibold,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;
}
.CalendarAvailabilityInfo-module_hourLabel {
	position: absolute;
	top: 45px;
}
html[dir=ltr] .CalendarAvailabilityInfo-module_hourLabel {
	left: 2px;
}
.CalendarAvailabilityInfo-module_hourVerticalDivider {
	position: absolute;
	top: 0px;
	bottom: 40%;
}
html[dir=ltr] .CalendarAvailabilityInfo-module_hourVerticalDivider {
	left: 50%;
	border-left: 1px solid #e5e5e5;
}
.CalendarAvailabilityInfo-module_hourHorizontalDivider {
	position: absolute;
	bottom: 40%;
	width: 100%;
}
html[dir=ltr] .CalendarAvailabilityInfo-module_hourHorizontalDivider, html[dir=rtl] .CalendarAvailabilityInfo-module_hourHorizontalDivider {
	border-top: 1px solid #e5e5e5;
}
.BaseProfileButton-module_editProfileButton {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	line-height: 28px;
	transition-property: color, background;
	transition-duration: 0.1s;
}
html[dir=ltr] .BaseProfileButton-module_editProfileButton, html[dir=rtl] .BaseProfileButton-module_editProfileButton {
	border-radius: 20px;
	background-color: #106ebe;
	border: 2px solid #106ebe;
	padding: 0 20px;
}
.BaseProfileButton-module_iconStyle {
	color: #fff;
	font-size: 16px;
}
.fabric-module_ms-Icon--pencil::before {
	content: "\E027";
}
html[dir=ltr] .BaseProfileButton-module_iconStyle {
	margin-right: 7px;
}
.fabric-module_ms-Icon--onedrive::before {
	content: "\E016";
}
html[dir=ltr] .BaseProfileCoreInfo-module_oneDriveIcon {
	padding-right: 5px;
}
.BaseProfileCoreInfo-module_profileImageWrapper {
	width: 100%;
	height: 100%;
	position: relative;
}
.BaseProfileCoreInfo-module_editPicButton {
	cursor: pointer;
	position: absolute;
	width: 45px;
	height: 45px;
	line-height: 40px;
	overflow: hidden;
	top: 50%;
	transition-property: width height line-height background-color;
	transition-duration: 0.1s;
}
html[dir=ltr] .BaseProfileCoreInfo-module_editPicButton {
	background: #666;
	border: 2px solid #fff;
	border-radius: 50%;
	left: 0px;
	text-align: center;
	transform: translate(-60%, -50%);
}
.BaseProfileCoreInfo-module_icon {
	color: #fff;
	width: 100%;
	height: 100%;
	font-size: 22px;
	line-height: inherit;
	top: 0px;
	position: absolute;
}
.fabric-module_ms-Icon--camera::before {
	content: "\E119";
}
html[dir=ltr] .BaseProfileCoreInfo-module_icon {
	left: 0px;
}
.BaseProfileCoreInfo-module_image {
	width: 100%;
	height: 100%;
}
html[dir=ltr] .BaseProfileCoreInfo-module_image, html[dir=rtl] .BaseProfileCoreInfo-module_image {
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 50%;
}

.fabric-module_ms-Grid-col {
	position: relative;
	min-height: 1px;
	box-sizing: border-box;
}
.BaseProfilePane-module_container {
	max-width: 1400px;
}

html[dir=ltr] .fabric-module_ms-Grid-col {
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}

.fabric-module_ms-Grid-row {
	box-sizing: border-box;
	zoom: 1;
}
.fabric-module_ms-Grid-row::after, .fabric-module_ms-Grid-row::before {
	display: table;
	content: "";
	line-height: 0;
}
.fabric-module_ms-Grid-row::after {
	clear: both;
}
html[dir=ltr] .fabric-module_ms-u-slideUpIn10 {
	animation-name: fabric-module_fadeIn, fabric-module_slideUp10;
}
html[dir=ltr] .fabric-module_ms-Grid-row, html[dir=rtl] .fabric-module_ms-Grid-row {
	margin: 0 -10px;
}
html[dir=ltr] .BaseProfilePane-module_container, html[dir=rtl] .BaseProfilePane-module_container {
	margin: 0 auto;
	padding-top: 100px;
}
.fabric-module_ms-font-m-plus {
	font-size: 15px;
}
.fabric-module_ms-font-m-plus, .fabric-module_ms-font-m {
	color: #333;
	font-family: Segoe UI Web Regular,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;
	font-weight: 400;
}
.fabric-module_ms-font-m {
	font-size: 14px;
}
.fabric-module_ms-Grid {
	box-sizing: border-box;
	zoom: 1;
}
.fabric-module_ms-Grid::after, .fabric-module_ms-Grid::before {
	display: table;
	content: "";
	line-height: 0;
}
.fabric-module_ms-Grid::after {
	clear: both;
}
html[dir=ltr] .fabric-module_ms-Grid, html[dir=rtl] .fabric-module_ms-Grid {
	padding: 0 10px;
}
.pulseContentPanelContainer {
	position: absolute;
	top: 50px;
	bottom: 0px;
	overflow-x: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
html[dir=ltr] .pulseContentPanelContainer {
	background: #eaeaea;
	padding-left: 20px;
	right: 0px;
	left: 240px;
}
/* @media all and (min-width:1024px) */
html[dir=ltr] .pulseContentPanelContainer {
	padding-left: 30px;
}
html[dir=ltr] #pulseRoot, html[dir=rtl] #pulseRoot {
	background: #eaeaea;
}
body, html {
	height: 100%;
}
html[dir=ltr] body, html[dir=rtl] body {
	padding: 0;
	margin: 0;
}
.BaseContentPaneBox-module_container {
	position: relative;
}
html[dir=ltr] .BaseContentPaneBox-module_container, html[dir=rtl] .BaseContentPaneBox-module_container {
	background-color: hsla(0, 0%, 100%, 0.98);
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
	padding: 20px 30px;
	margin: 10px 0;
}
html[dir=ltr] .BaseContentPaneBox-module_header {
	margin-bottom: 20px;
	padding-right: 20px;
}
html[dir=ltr] .fabric-module_ms-Grid-col .fabric-module_ms-Grid, html[dir=rtl] .fabric-module_ms-Grid-col .fabric-module_ms-Grid {
	padding: 0;
}
html[dir=ltr] .ModifiedItemsBox-module_document1, html[dir=ltr] .ModifiedItemsBox-module_document2, html[dir=ltr] .ModifiedItemsBox-module_document3, html[dir=ltr] .ModifiedItemsBox-module_document4, html[dir=rtl] .ModifiedItemsBox-module_document1, html[dir=rtl] .ModifiedItemsBox-module_document2, html[dir=rtl] .ModifiedItemsBox-module_document3, html[dir=rtl] .ModifiedItemsBox-module_document4 {
	margin-bottom: 10px;
}
.fabric-module_button {
	cursor: pointer;
}
.BaseContentPaneBox-module_seeAllButton {
	height: 30px;
	min-width: 30px;
	box-sizing: border-box;
	color: #fff;
	display: block;
	line-height: 29px;
	overflow: hidden;
	position: absolute;
	top: 20px;
	transition: background .1s ease-out;
}
html[dir=ltr] .BaseContentPaneBox-module_seeAllButton {
	background: #106ebe;
	border: none;
	padding: 0 30px 0 0;
	right: 0px;
	text-align: right;
}
.fabric-module_ms-Icon {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-family: Office365Icons;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	speak: none;
}
.BaseContentPaneBox-module_arrowRight {
	width: 30px;
	font-size: 18px;
	line-height: 32px;
	position: absolute;
	top: 0px;
	z-index: 3;
}
.fabric-module_ms-Icon--chevronRight::before {
	content: "\E08A";
}
html[dir=ltr] .BaseContentPaneBox-module_arrowRight {
	right: 0px;
	text-align: center;
}
.BaseContentPaneBox-module_seeAllButton span {
	height: 30px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
}
html[dir=ltr] .BaseContentPaneBox-module_seeAllButton span {
	padding: 0 0 0 15px;
}
.UnifiedCard-module_container {
	font-size: 12px;
	position: relative;
	outline: none;
	height: 380px;
	min-width: 180px;
}
html[dir=ltr] .UnifiedCard-module_container {
	background: #fff;
	border: 1px solid transparent;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
	text-align: left;
}
html[dir=ltr] .UnifiedCard-module_containerBorder, html[dir=rtl] .UnifiedCard-module_containerBorder {
	box-shadow: none;
	border: 2px solid #e5e5e5;
}
.TidbitCompact-module_container {
	min-height: 54px;
	box-sizing: border-box;
	cursor: pointer;
}
html[dir=ltr] .TidbitCompact-module_container, html[dir=rtl] .TidbitCompact-module_container {
	padding: 11px 10px 10px;
	border-bottom: 1px solid #eaeaea;
}
.UnifiedCard-module_previewAndLocationContainer {
	position: relative;
}
.Title-module_linkWrapper {
	color: inherit;
	text-decoration: none;
}
.UnifiedCard-module_additionalDataContainer {
	position: absolute;
	bottom: 5px;
}
html[dir=ltr] .UnifiedCard-module_additionalDataContainer, html[dir=rtl] .UnifiedCard-module_additionalDataContainer {
	margin-top: 5px;
	left: 0px;
	right: 0px;
}
.UnifiedCard-module_actionsWrapper {
	position: absolute;
	bottom: 0px;
	width: 100%;
}
html[dir=ltr] .UnifiedCard-module_actionsWrapper {
	left: 0px;
}
.ActionsBar-module_actionsContainer {
	height: 35px;
	line-height: 34px;
	box-sizing: border-box;
}
html[dir=ltr] .ActionsBar-module_actionsContainer, html[dir=rtl] .ActionsBar-module_actionsContainer {
	padding-top: 2px;
	background: #f9f9f9;
	border-top: 1px solid #eaeaea;
}
.ActionsBar-module_groupContainer {
	display: inline-block;
}
html[dir=ltr] .ActionsBar-module_groupContainer {
	border-right: 1px solid #eaeaea;
}
.ActionsBar-module_openOverlayButton {
	position: absolute;
	bottom: 4px;
	width: 24px;
	height: 24px;
	cursor: pointer;
	outline: none;
}
.ActionsBar-module_openOverlayButton::after {
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 9px;
	transition: all .4s ease;
	z-index: 0;
}
.ActionsBar-module_openOverlayButton::before {
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	transition: all .6s ease;
}
html[dir=ltr] .ActionsBar-module_openOverlayButton {
	background: none;
	right: 10px;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 100%;
}
html[dir=ltr] .ActionsBar-module_openOverlayButton::after {
	border-radius: 100%;
	left: 11px;
	box-shadow: 6px 0px 0px #a6a6a6, -10px 0px 0px #a6a6a6;
}
html[dir=ltr] .ActionsBar-module_openOverlayButton::before, html[dir=rtl] .ActionsBar-module_openOverlayButton::before {
	border-radius: 100%;
	transform: scale(0.25);
	background: #a6a6a6;
}
.ActionsBar-module_closeOverlayIcon {
	width: 2px;
	height: 12px;
	display: block;
	position: absolute;
	top: 6px;
	opacity: 0;
	transition: all .6s ease;
}
.ActionsBar-module_closeOverlayIcon::after {
	content: "";
	display: block;
	width: 12px;
	height: 2px;
	position: absolute;
	top: 5px;
}
html[dir=ltr] .ActionsBar-module_closeOverlayIcon {
	background: #fff;
	transform: rotate(-45deg);
	left: 11px;
}
html[dir=ltr] .ActionsBar-module_closeOverlayIcon::after {
	background: #fff;
	left: -5px;
}
.ManageTagsButton-module_tagActionContainer {
	cursor: pointer;
	display: inline-block;
	vertical-align: baseline;
}
html[dir=ltr] .ManageTagsButton-module_tagActionContainer, html[dir=rtl] .ManageTagsButton-module_tagActionContainer {
	margin: 0 4px;
}
.ManageTagsButton-module_tagActionButton {
	width: 27px;
	color: hsla(0, 0%, 64%, 0.8);
	cursor: pointer;
	outline: none;
}
.ManageTagsButton-module_iconBoard {
	font-size: 17px;
}
.fabric-module_ms-Icon--boards::before {
	content: "\E21E";
}
html[dir=ltr] .ManageTagsButton-module_tagActionButton {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	text-shadow: 1px 1px 5px #fff, 0px 0px 0px #000, 1px 4px 6px hsla(0, 0%, 100%, 0.8);
}
.ActionsBar-module_favoritesContainer {
	display: inline-block;
	vertical-align: baseline;
}
html[dir=ltr] .ActionsBar-module_favoritesContainer, html[dir=rtl] .ActionsBar-module_favoritesContainer {
	margin: 0 3px;
	text-align: center;
}
.FavoritesButton-module_favoritesContainer {
	position: relative;
	display: inline-block;
}
.FavoritesButton-module_compact {
	box-sizing: border-box;
	position: relative;
	width: 27px;
	height: 27px;
	font-size: 18px;
	color: hsla(0, 0%, 64%, 0.8);
	cursor: pointer;
	overflow: visible;
	will-change: transform;
	transition: transform .2s ease;
}
.fabric-module_ms-Icon--bookmark::before {
	content: "\E209";
}
.FavoritesButton-module_compact::after {
	content: "";
	position: absolute;
	z-index: 0;
	top: 0px;
	bottom: 0px;
	opacity: 1;
	overflow: visible;
}
html[dir=ltr] .FavoritesButton-module_compact {
	text-align: center;
	padding: 0;
	background: none;
	margin: 0;
	border: 0;
	text-shadow: 1px 1px 5px #fff, 0px 0px 0px #000, 1px 4px 6px hsla(0, 0%, 100%, 0.8);
	transform: rotate(0.01deg);
}
html[dir=ltr] .FavoritesButton-module_compact::after, html[dir=rtl] .FavoritesButton-module_compact::after {
	left: 0px;
	right: 0px;
	background: #2b88d8;
	border-radius: 5px;
	transform: scale(0);
}
.FavoritesButton-module_compact div {
	display: none;
}
.FavoritesButton-module_compact div::after {
	content: none;
}
.fabric-module_clearfix, .fabric-module_ms-u-clearfix {
	zoom: 1;
}
.fabric-module_ms-font-weight-regular {
	font-family: Segoe UI Web Regular,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;
}
.UnifiedCard-module_viewsWrapper {
	font-size: 11px;
}
html[dir=ltr] .UnifiedCard-module_viewsWrapper {
	float: right;
	margin-right: 10px;
}
.UnifiedCard-module_locationWrapper {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 17px;
}
html[dir=ltr] .UnifiedCard-module_locationWrapper {
	margin-left: 10px;
}
.CardLocation-module_compact {
	color: #0078d7;
	cursor: pointer;
	text-decoration: none;
}
.fabric-module_o365button {
	cursor: pointer !important;
	font-size: 14px;
}
.CardLocation-module_button {
	display: block;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
	vertical-align: text-top;
	display: inline;
	color: #0078d7;
}
.UnifiedCard-module_locationWrapper a {
	display: inline-block;
	color: #666;
	font-size: 11px;
	max-width: 80%;
}
.CardLocation-module_compact .CardLocation-module_button {
	line-height: 17px;
}
html[dir=ltr] .fabric-module_o365button, html[dir=rtl] .fabric-module_o365button {
	background: transparent;
	border-width: 0;
	padding: 0;
}
.Title-module_titleWrapper {
	height: 41px;
	cursor: pointer;
}
html[dir=ltr] .Title-module_titleWrapper, html[dir=rtl] .Title-module_titleWrapper {
	margin: 10px;
}
.FlexibleCardTitle-module_container {
	max-height: 250px;
	line-height: 28px;
	overflow: hidden;
	word-wrap: break-word;
}
.fabric-module_ms-font-xl {
	color: #333;
	font-family: Segoe UI Web Light,Segoe UI Light,Segoe WP Light,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;
	font-size: 21px;
	font-weight: 400;
}
.fabric-module_ms-font-weight-semilight {
	font-family: Segoe UI Web Semilight,Segoe UI Semilight,Segoe WP Semilight,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;
}
.FlexibleCardTitle-module_title {
	font-size: 21px;
}
html[dir=ltr] .FlexibleCardTitle-module_title {
	padding: 0;
	margin: 0;
	text-align: left;
}
.Preview-module_linkWrapper {
	color: inherit;
	text-decoration: none;
	display: block;
}
.UnifiedCard-module_Word {
	color: #2b3580;
}
.UnifiedCard-module_PowerPoint {
	color: #dc5b26;
}
.UnifiedCard-module_OneNote {
	color: #813a7c;
}
.UnifiedCard-module_cardFileTypeContainer {
	position: absolute;
	display: inline-block;
	box-sizing: border-box;
	max-width: 180px;
	bottom: 0px;
	z-index: 1;
}
.fabric-module_clearfix::after, .fabric-module_clearfix::before, .fabric-module_ms-u-clearfix::after, .fabric-module_ms-u-clearfix::before {
	display: table;
	content: "";
	line-height: 0;
}
.fabric-module_clearfix::after, .fabric-module_ms-u-clearfix::after {
	clear: both;
}
html[dir=ltr] .UnifiedCard-module_cardFileTypeContainer {
	margin: 0;
	text-transform: capitalize;
	background: #fff;
	padding: 4px 4px 4px 10px;
	left: 0px;
	border-top: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	box-shadow: 1px -1px 1px 0px rgba(0,0,0,0.05);
}
.CardFileType-module_container {
	display: inline-block;
}
.CardFileType-module_compact {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.CardFileType-module_type {
	color: #666;
	display: inline-block;
}
.CardFileType-module_iconUnified::before {
	position: relative;
	top: 1px;
	font-size: 14px;
}
.fabric-module_ms-font-weight-semibold {
	font-family: Segoe UI Web Semibold,Segoe UI Semibold,Segoe WP Semibold,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;
}
.color-onenote {
	color: #813a7c;
}
.PreviewCircleElement-module_patternText {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 64px;
	height: 64px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}
.PreviewCircleElement-module_patternTextUnified {
	width: 57px;
	height: 57px;
	font-size: 32px;
	line-height: 54px;
}
.delve-icon::before {
	font-family: Office365Icons;
}
.UnifiedCard-module_cardFileTypeContainer span {
	font-size: 11px;
	color: inherit;
}
.CardFileType-module_compact .CardFileType-module_type {
	display: inline;
}
html[dir=ltr] .CardFileType-module_type {
	background-repeat: no-repeat;
	background-position: 0;
	padding-right: 5px;
}
.delve-icon.word::before {
	content: "\E0B9";
	color: #2b3580;
}
.delve-icon.powerpoint::before {
	content: "\E0B8";
	color: #dc5b26;
}
.delve-icon.onenote::before {
	content: "\E0B7";
	color: #813a7c;
}
html[dir=ltr] .CardFileType-module_iconUnified::before {
	margin-right: 5px;
}
.Preview-module_link {
	width: 100%;
	overflow: hidden;
	display: block;
	cursor: pointer;
}
html[dir=ltr] .Preview-module_link, html[dir=rtl] .Preview-module_link {
	border: 0;
	margin: 0;
	padding: 0;
	background: transparent;
}
.cardImageContainer {
	max-height: 200px;
	display: block;
	overflow: hidden;
	position: relative;
}
.Preview-module_previewImageContainer .cardImageContainer {
	overflow: hidden;
}
html[dir=ltr] .cardImageContainer, html[dir=rtl] .cardImageContainer {
	border-bottom: 1px solid rgba(0,0,0,.04);
	margin-bottom: 0px;
	text-align: center;
}
.Preview-module_openDocumentOverlay {
	opacity: 0;
	position: absolute;
	top: 0px;
	bottom: 0px;
}
html[dir=ltr] .Preview-module_openDocumentOverlay, html[dir=rtl] .Preview-module_openDocumentOverlay {
	left: 0px;
	right: 0px;
}
.Preview-module_openDocumentOverlayText {
	display: inline-block;
	position: absolute;
	bottom: 1px;
	font-size: 11px;
	color: #fff;
}
html[dir=ltr] .Preview-module_openDocumentOverlayText {
	right: 0px;
	background: rgba(0,0,0,.3);
	padding: 4px 10px 5px;
	text-shadow: 0px 0px 5px #666;
}
.Preview-module_iconOpen {
	font-size: 16px;
	vertical-align: -1px;
}
.fabric-module_ms-Icon--folderOpen::before {
	content: "\E306";
}
html[dir=ltr] .Preview-module_iconOpen {
	margin-left: 6px;
}
.PreviewImageWrapper-module_containerWrapper {
	height: 125px;
}
.Preview-module_previewImageContainer .cardImageContainer > div::after {
	content: "";
	position: absolute;
	top: 0px;
	bottom: 0px;
}
html[dir=ltr] .Preview-module_previewImageContainer .cardImageContainer > div::after, html[dir=rtl] .Preview-module_previewImageContainer .cardImageContainer > div::after {
	left: 0px;
	right: 0px;
	background: rgba(0,0,0,.2);
	background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.05) 30%,rgba(0,0,0,.1));
}
.fabric-module_fadeIn100, .fabric-module_fadeIn200, .fabric-module_fadeIn400 {
	animation-duration: 0.367s;
	animation-fill-mode: both;
}
.fabric-module_fadeIn400 {
	opacity: 1 !important;
}
.cardImageContainer .cardImage {
	width: 100%;
	display: block;
	opacity: 0;
}
html[dir=ltr] .fabric-module_fadeIn100, html[dir=ltr] .fabric-module_fadeIn200, html[dir=ltr] .fabric-module_fadeIn400 {
	animation-name: fabric-module_fadeIn;
}
html[dir=ltr] .PreviewCircleElement-module_patternText, html[dir=rtl] .PreviewCircleElement-module_patternText {
	left: 0px;
	right: 0px;
	margin: auto;
	background: #fff;
	border: 2px solid;
	border-radius: 50%;
}
html[dir=ltr] .PreviewCircleElement-module_patternText::after, html[dir=rtl] .PreviewCircleElement-module_patternText::after {
	border: none;
}
.Preview-module_previewImageContainer .cardImageContainer > div > div {
	z-index: 1;
}
html[dir=ltr] .cardImageContainer .cardImage, html[dir=rtl] .cardImageContainer .cardImage {
	border-width: 0;
	margin: 0 auto;
}
.BackgroundElement-module_pattern {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	width: 1200px !important;
	height: 1200px !important;
	top: 50%;
	transition-duration: 0.3s;
}
html[dir=ltr] .BackgroundElement-module_pattern {
	background: url(https://res.delve.office.com/delve/versionless/fallbackpattern_c929a05ecfdb9b7a7bc9406e616c159d.png);
}
.color-word {
	color: #2b3580;
}
.color-powerpoint {
	color: #dc5b26;
}
.TidbitCompact-module_imageWrapper {
	position: relative;
	width: 30px;
	height: 30px;
}
html[dir=ltr] .TidbitCompact-module_imageWrapper {
	float: left;
	margin: 0 10px 0 0;
}
.TidbitCompact-module_link, .TidbitCompact-module_tidbitTitle {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
	top: -1px;
}
html[dir=ltr] .TidbitCompact-module_link, html[dir=ltr] .TidbitCompact-module_tidbitTitle {
	margin-right: 30px;
}
.TidbitCompact-module_tidbitTime {
	color: #666;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
html[dir=ltr] .TidbitCompact-module_tidbitTime {
	margin-right: 0px;
}
.TidbitCompact-module_attachment, .TidbitCompact-module_popular, .TidbitCompact-module_private {
	position: absolute;
	top: 0px;
	bottom: 0px;
	font-size: 15px;
	line-height: 30px;
}
.TidbitCompact-module_private {
	color: #fff;
}
html[dir=ltr] .TidbitCompact-module_attachment, html[dir=ltr] .TidbitCompact-module_popular, html[dir=ltr] .TidbitCompact-module_private, html[dir=rtl] .TidbitCompact-module_attachment, html[dir=rtl] .TidbitCompact-module_popular, html[dir=rtl] .TidbitCompact-module_private {
	text-align: center;
	left: 0px;
	right: 0px;
	border-radius: 50%;
}
html[dir=ltr] .TidbitCompact-module_private {
	background: #16a916;
	background-image: url("https://res.delve.office.com/delve/versionless/icon_lock_c4360d6f76c1a0305d58173b7f208e4a.svg");
}
.BaseContentPaneBox-module_title {
	color: #333;
	display: inline-block;
	transition: color .1s;
}
.BaseContentPaneBox-module_titleClick {
	cursor: pointer;
}
html[dir=ltr] .BaseContentPaneBox-module_title, html[dir=rtl] .BaseContentPaneBox-module_title {
	margin: 0;
}
.BaseContentPaneBox-module_subtitle {
	min-width: 60%;
	color: #767676;
}
html[dir=ltr] .BaseContentPaneBox-module_subtitle, html[dir=rtl] .BaseContentPaneBox-module_subtitle {
	margin: 8px 0 10px;
}
.BaseContentPaneBox-module_link {
	text-decoration: none;
	font-size: 14px;
	color: #0078d7;
	cursor: pointer;
}
html[dir=ltr] .BaseContentPaneBox-module_link {
	margin-left: 7px;
}


.BaseHeader-module_header{position:absolute;top:0}html[dir=ltr] .BaseHeader-module_header,html[dir=rtl] .BaseHeader-module_header{right:0;left:0}.BaseHeader-module_wrapper{box-sizing:border-box;overflow:hidden;position:relative}html[dir=ltr] .BaseHeader-module_wrapper,html[dir=rtl] .BaseHeader-module_wrapper{background-position:50% 50%;background-size:cover}.BaseHeader-module_wrapper:after{height:200px;content:"";position:absolute;bottom:0}html[dir=ltr] .BaseHeader-module_wrapper:after,html[dir=rtl] .BaseHeader-module_wrapper:after{background-image:linear-gradient(transparent,#eaeaea);right:0;left:0}html[dir=ltr] .BaseHeader-module_loadingWrapperBackground,html[dir=rtl] .BaseHeader-module_loadingWrapperBackground{background-color:#a6a6a6}.BaseHeader-module_headerImage{width:100%}
    